<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status,
        Book.statuses.keys.map { |k| [k.humanize, k] },   # ["Unread", "unread"] の配列など
        {},                                               # HTMLオプション以外（空でOK）
        class: "form-select" %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.textarea :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
